main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search {
    width: 550px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    height: 40px;
    border-color: dfe1e5;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
